<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings | Quire Anywhere</title>
    <script src="../../libraries/jquery.min.js"></script>
</head>
<body>
<h2>Settings | Quire Anywhere</h2>
<form id="settings" onsubmit="return window.save()">
  <div class="project-settings">
    <h4>Project Settings</h4>
    <p>
      <label><input type="radio" name="project" value="one-default" checked="checked">One Default Project:</label>
      <label>
        <select name="project-name">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </label>
    </p>
    <label>(All your tasks will be sent to this project)</label>
    <p>
      <label><input type="radio" name="project" value="choose-every-time">Choose Every Time (future)</label>
    <p>
  </div>
  <p><button class="submit">Save</button></p>
</form>
<script type="module" src="settings.js"></script>
</body>
</html>
